<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="assets/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ====== Boxicons ====== -->
<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />

    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <link rel="stylesheet" href="./header.component.css" />
    <title>Fashion Shop</title>
  </head>
  <body>
    <!-- ====== Header ====== -->
    <header class="header">
        <!-- ====== Navigation ====== -->
        <nav class="navbar">
          <div class="row container d-flex">
            <div class="logo">
              <img src="./assets/logo.svg" alt="" />
            </div>
  
            <div class="nav-list d-flex">
              <a  href="#" class="navbar-link" routerLink="/home" routerLinkActive="active">Home</a>
              <a href="">Shop</a>
              <a href="">Pages</a>
              <a  href="#" class="navbar-link" routerLink="/about" routerLinkActive="active">About Us</a>
              
              <a href="#"  >Contact Us</a>
              <div class="close">
                <i class="bx bx-x"></i>
              </div>
              
            </div>
  
            <div class="icons d-flex">
              <div class="icon d-flex">
                <i class="bx bx-search"></i>
            </div>
          <!-- Dans le fichier HTML où l'icône utilisateur est située (peut-être dans le header ou ailleurs) -->
<div class="icon user-icon d-flex">
  <i class="bx bx-user"  routerLink="/login"></i>
</div>

            
              <div class="icon d-flex">
                <i class="bx bx-bell"></i>
                <span></span>
              </div>
            </div>
  
            <!-- Hamburger -->
            <div class="hamburger">
              <i class="bx bx-menu-alt-right"></i>
            </div>
          </div>
        </nav>


    

    </header>
  </body>
</html>
