<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="images/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <link rel="stylesheet" href="footer.component.css" />
    <title>Fashion Shop</title>
  </head>
  <body>
    <!-- ====== Header ====== -->
    <header class="header">
     


    <!-- ====== Footer ====== -->
    <footer class="footer">
        <div class="row container">
          <div class="col">
            <div class="logo d-flex">
              <img src="./assets/logo.svg" alt="logo" />
            </div>
            <p>
                je suis fière de travailler avec cette équipe<br />
              
            </p>
            <div class="icons d-flex">
              <div class="icon d-flex">
                <i class="bx bxl-facebook"></i>
              </div>
              <div class="icon d-flex"><i class="bx bxl-twitter"></i></div>
              <div class="icon d-flex"><i class="bx bxl-instagram"></i></div>
              <div class="icon d-flex"><i class="bx bxl-youtube"></i></div>
            </div>
            <p class="color">
              Developper par : <br />
              @Ahmed wajih ben hmida 
            </p>
          </div>
          <div class="col">
            <div>
              <h4>Product</h4>
              <a href="">Download</a>
              <a href="">Pricing</a>
              <a href="">Locations</a>
              <a href="">Server</a>
              <a href="">Countries</a>
              <a href="">Blog</a>
            </div>
            <div>
              <h4>Category</h4>
              <a href="">Men</a>
              <a href="">Women</a>
              <a href="">Kids</a>
              <a href="">Best Seller</a>
              <a href="">New Arrivals</a>
            </div>
            <div>
              <h4>My Account</h4>
              <a href="">My Account</a>
              <a href="">Discount</a>
              <a href="">Returns</a>
              <a href="">Order History</a>
              <a href="">Order Tracking</a>
            </div>
            <div>
              <h4>Contact Us</h4>
              <div class="d-flex">
                <div class="icon"><i class="bx bxs-map"></i></div>
                <span>SwiftCode </span>
              </div>
              <div class="d-flex">
                <div class="icon"><i class="bx bxs-envelope"></i></div>
                <span>Maria@gmail.com</span>
              </div>
              <div class="d-flex">
                <div class="icon"><i class="bx bxs-phone"></i></div>
                <span>+000000000</span>
              </div>
            </div>
          </div>
        </div>
      </footer>


    </header>
   



 
  </body>
</html>
