<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="images/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <title>Fashion Shop</title>
  </head>
  <body>
    
    <header class="header">
        <div class="about-us">
            <div class="container">
              <h2 class="section-title">À propos de nous</h2>
              <div class="about-content">
                <img src="../assets/blog-2.png" alt="Image À propos de nous" class="about-image">
                <p>
                  Welcome to MiraStore, your online destination for stylish wedding attire for men and women.<br>
                  We believe in making your special day even more special with our wedding collections
                  high-end, made with love and attention to detail.<br>
                  At MiraStore, we strive to provide you with a diverse selection of gorgeous wedding dresses, costumes
                  elegant, sophisticated tuxedos and matching accessories so you can shine on your big day.
                </p>
              
                 
               
              </div>
        
              <div class="about-content">
                <p>
                  Our team of professional stylists are here to help you find the perfect outfit that matches your
                  tastes and your personality, so that you feel confident and radiant at your wedding.<br>
                 
                  We believe that every wedding is unique and special, and that's why we do everything for you.
                  to deliver exceptional quality products and top-notch customer service.<br>
                  Thank you for choosing MiraStore for your perfect wedding day!
                </p>
                <img src="../assets/blog-3.png" alt="Image À propos de nous" class="about-image">
        
                 
               
              </div>
            
           
             
            </div>
          </div>
          
      
       
        
    </header>
  </body>
</html>

