<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="assets/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <link rel="stylesheet" href="home.component.css" />
    <title>Fashion Shop</title>
  </head>
  <body>
    <!-- ====== Header ====== -->
    <header class="header">
   

      <!-- ====== Hero Area ====== -->
      <div class="hero">
        <div class="row container d-flex">
          <div class="col">
            <span class="subtitle">Limited Time Only For Winter</span>
            <h1>fash<span class="i"> </span>  on</h1>
            <p>LOOK YOUR BEST ON YOUR BEST DAY</p>

            <button class="btn">Explore Now!</button>
          </div>
          <img src="./assets/woman-in-cart.png" alt="" />
        </div>
      </div>
    </header>
    <!-- ====== Collection ====== -->   
    <section class="section collection">
      <div class="title">
        <span>COLLECTION</span>
        <h2>Our Top Collection</h2>
      </div>
      <div class="filters d-flex">
        <div data-filter="Jewellery">Jewellery</div>
        <div data-filter="Accessories">Accessories</div>
        <div data-filter="Dresses">Dresses</div>
        <div data-filter="Footwear">Footwear</div>
      </div>

      <div class="products container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper" id="products">
            <div class="swiper-slide">

               <div class="product">
                <div class="top d-flex">
                  <img src="./assets/product-1.png" alt="" />
                  <div class="icon d-flex">
                    <i class="bx bxs-heart"></i>
                  </div>
                </div>
                <div class="bottom">
                  <h4>Nike Air Men’s Hoodie - Imported Hoodie Red</h4>
                  <div class="d-flex">
                    <div class="price">$150</div>
                    <div class="rating">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                    </div>
                  </div>
                </div>
                <div class="top d-flex">
                  <img src="./assets/product-2.png" alt="" />
                  <div class="icon d-flex">
                    <i class="bx bxs-heart"></i>
                  </div>
                </div>
                <div class="bottom">
                  <h4>Nike Air Men’s Hoodie - Imported Hoodie Red</h4>
                  <div class="d-flex">
                    <div class="price">$150</div>
                    <div class="rating">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="custom-pagination"></div>
        </div>
      </div>
    </section>
    <!-- ====== New Arrival ====== -->
    <section class="section new-arrival">
      <div class="title">
        <span>NEW ARRIVAL</span>
        <h2>Latest Collection</h2>
      </div>

      <div class="row container">
        <div class="col col-1">
          <img src="./assets/poster-1.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Skirt
          </h3>
        </div>
        <div class="col col-2">
          <img src="./assets/poster-2.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Skirt
          </h3>
        </div>
        <div class="col col-3">
          <img src="./assets/poster-3.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Shirt <br />
            <span>Discover More:</span>
          </h3>
        </div>
      </div>
    </section>

    <!-- ====== Categories ====== -->
    <section class="section categories">
      <div class="title">
        <span>CATEGORIES</span>
        <h2>2021 Latest Collection</h2>
      </div>

      <div class="products container">
        <!-- <div class="product">
          <div class="top d-flex">
            <img src="./images/product-1.png" alt="" />
            <div class="icon d-flex">
              <i class="bx bxs-heart"></i>
            </div>
          </div>
          <div class="bottom">
            <div class="d-flex">
              <h4>Nike Air Men’s Hoodie - Imported Hoodie Red</h4>
              <a href="" class="btn cart-btn">Add to Cart</a>
            </div>
            <div class="d-flex">
              <div class="price">$150</div>
              <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="button d-flex">
        <a class="btn loadmore">Load More</a>
      </div>
    </section>

    <!-- ====== Statistics ====== -->
    <section class="section statistics">
      <div class="title">
        <span>STATS</span>
        <h2>Our Statistics</h2>
      </div>

      <div class="row container">
        <div class="col">
          <div class="icon">
            <i class="bx bxs-check-square"></i>
          </div>
          <h3>Easy Order System</h3>
          <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
        </div>
        <div class="col">
          <div class="icon">
            <i class="bx bxs-user"></i>
          </div>
          <h3>On Time Delievery</h3>
          <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
        </div>
        <div class="col">
          <div class="icon">
            <i class="bx bxs-dollar-circle"></i>
          </div>
          <h3>Money Back Gaurantee</h3>
          <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
        </div>
        <div class="col">
          <div class="icon">
            <i class="bx bxs-user"></i>
          </div>
          <h3>24/7 Customer Support</h3>
          <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
        </div>
      </div>
    </section>

    <!-- ====== Blogs ====== -->
    <section class="section blog">
      <div class="title">
        <span>BLOGS</span>
        <h2>Latest News</h2>
      </div>

      <div class="row container">
        <div class="col">
          <div class="top">
            <img src="./assets/blog-1.png" alt="" />
          </div>
          <div class="bottom">
            <h3>Trendy</h3>
            <h4>
              Lorem Ispum is a placeholder text commomly used as a free text.
            </h4>
            <span>10 January 2021</span>
          </div>
        </div>
        <div class="col">
          <div class="top">
            <img src="./assets/blog-2.png" alt="" />
          </div>
          <div class="bottom">
            <h3>Trendy</h3>
            <h4>
              Lorem Ispum is a placeholder text commomly used as a free text.
            </h4>
            <span>10 January 2021</span>
          </div>
        </div>
        <div class="col">
          <div class="top">
            <img src="./assets/blog-3.png" alt="" />
          </div>
          <div class="bottom">
            <h3>Trendy</h3>
            <h4>
              Lorem Ispum is a placeholder text commomly used as a free text.
            </h4>
            <span>10 January 2021</span>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
