



<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Le reste du code reste inchangé... -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ====== Favicon ====== -->
  <link
    rel="shortcut icon"
    href="images/favicon-32x32.png"
    type="image/png"
  />

  


  <!-- ====== Boxicons ====== -->
  <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <!-- ====== Swiper CSS ====== -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <!-- ====== Custom CSS ====== -->
  <title>Fashion Shop</title>
</head>
<body>
  <header class="header">
    <div class="user-form">
      <div class="close-form d-flex"><i class="bx bx-x"></i></div>
      <div class="form-wrapper container">
        <div class="user login">
            <!-- Reste du contenu du formulaire d'inscription ... -->
            <div class="icon">
                <img src="./assets/trial.png" alt="" />
                </div>
            <div class="form-box">
              <div class="top">
                <p>
                  Already a member?
                  <span data-id="#1a1aff"   routerLink="/login">Login now</span>
                </p>
              </div>
              <form action="">
                <div class="form-control">
                  <h2>Welcome Codevo!</h2>
                  <p>It's good to have you.</p>
                  <input type="email" placeholder="Enter Email" />
                  <div>
                    <input type="password" placeholder="Password" />
                    <div class="icon form-icon">
                      <img src="./assets/eye.svg" alt="Eye Icon" />
                    </div>
                  </div>
                  <div>
                    <input type="password" placeholder="Confirm Password" />
                    <div class="icon form-icon">
                      <img src="./assets/eye.svg" alt="" />
                    </div>
                  </div>
                  <input type="Submit" value="Register" />
                </div>
                <div class="form-control">
                  <p>Or continue with</p>
                  <div class="icons">
                    <div class="icon">
                      <img src="./assets/search.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./assets/apple.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./assets/facebook.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./assets/github.svg" alt="" />
                    </div>
                  </div>
                </div>
              </form>
              
            </div>
             
          </div>
          
      </div>
    </div>
    <!-- Le reste du code reste inchangé... -->
  </header>
</body>
</html>
